@page "/addstudent"

@inherits CreateStudentBase

<h3>Create Student</h3>

<hr />
<EditForm Model="Enrollment">
    <div class="form-group">
        <label>First Name</label>
        <InputText class="form-control" placeholder="First Name" @bind-Value="Enrollment.Student.FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <InputText class="form-control" placeholder="Last Name" @bind-Value="Enrollment.Student.LastName" />

    </div>
    <div class="form-group">
        <label>Enrollment date</label>
        <InputDate class="form-control"   @bind-Value="Enrollment.Student.EnrollmentDate" />
    </div>
    
    <button class="btn btn-primary" type="submit" @onclick="CreateStudent">Submit</button>
</EditForm>
